*{
	padding:0;
	margin:0;
}

body {
	padding:0;
	margin:0;
}

.nav-col {
  text-align: center;
}

.nav-col > a {
  font-size: 3.5rem;
  color:black;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.nav-col:nth-child(2) ul .active > a:focus {
  list-style-type:none;
  list-style-position: inside;
  border-bottom: solid 3px red;
}

.nav-col:nth-child(2) ul li a {
	font-size: 15px;
	color:black;
    padding: 10px;
}

.nav-col:nth-child(2) ul li a:hover,
.nav-col:nth-child(1) a {
  text-decoration: none;
}

.nav-col:nth-child(2) ul,
.nav-col:nth-child(3) ul{
  padding: 0;
  margin: 0;
}

.nav-col:nth-child(3) ul li {
  font-size: 20px;
}

.nav-col > ul > li a:hover,
.nav-col > ul > li a:focus,
.nav-col > ul > li a:active,
.nav-col > ul > li a:visited {
  text-decoration: none;
}
 
.nav-col > ul > li a:hover{
  color:orange;
}

.nav-col > ul > li a:active,
.nav-col > ul > li a:focus{
  color: orange;
  border-bottom: 4px solid orange;

}

.nav-col > ul > li {
  display:inline-block;
  text-transform: uppercase;
  padding: 25px 15px; 
  margin: 0 auto;
}

header {
  height: auto;
}

ul > li  span {
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
  background-color: orange; 
  padding-top: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 100%;
  height: 100%;
}


.landing-page {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(./images/landing-page.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: -30px;
}

.intro-message h1{
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  margin-top: -10px;
}

.intro-message h3{
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 2px;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

form .row {
  padding:10px 80px;
}

.intro-message button {
  background-color: orange;
  padding: 10px 20px;
  line-height: 10px;
  margin-top: 10px;
  border:none;
}

.form-partner p {
  padding:0 20px;
} 

.intro-info {
  text-align: center;
  padding: 20px 40px;
}

.intro-info h2,
.form-partner h2 {
  margin-bottom: 30px;
}

.responsive-banner > img {
  width: 100%;
}

.highlight-text {
  color:orange;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #222;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus{
  color: #a9a9a9;
}

.custom-nav ul li {
  text-transform: uppercase;
  text-align: center;
  display: inline;
}

.empty-block{
  border-top: 2px solid orange;
  height: 60px;
  background-color: #222;
}

.submit{
  background-color: orange;
  padding: 2px 25px 7px;
  margin-bottom: 25px;
  border:none;
}

select{
  border-width:0 0 1px 0;
  border-color: #9e9e9e;
  color:#9e9e9e;
  font-size: 1rem;
  font-weight: 700;
}

select:hover,
select:focus,
select:active{
  outline:0;
  border-width: 0 0 1px 0;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
.nav-col > ul > li {
	padding: 25px 7px;
  }
}


@media (min-width: 768px) {
  .landing-page {
    height: 100%;
    min-height: 600px;
  }
}

@media (min-width: 992px){
  .team-overlay{
	  height: 100%;
    }
}


@media (max-width: 767px) {
  form .row {
   padding: 10px 30px;
 }

  .team-overlay{
	margin-top: 50px;
  }

  .intro-message h1{
	font-size:40px;
	line-height: 50px;
  }

  .intro-message h3{
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 1px;
  }

  .intro-info h2,
  .form-partner h2 {
    font-size: 25px;
  }
}

  .emsg {
    color: red;
  }

  .hidden {
     visibility:hidden;
  }


